.features {
  padding-top: 60px;

  @media screen and (max-width: 767px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.features__container {
  @extend .container;
}

.features__list {
  @extend .list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1199px) {
    width: 270px;
  }
}

.features__title {
  @extend .invisible;
}

.features__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 354px;

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }

    &:nth-child(odd) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features__item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: $sec-fnt-size;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-text-clr;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
