.hero {
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-mob-480.jpg);
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-mob-960.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-tab-768.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-tab-1536.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-desk-1600.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-desk-3200.jpg);
    }
  }
}

.hero__container {
  @extend .container;

  display: flex;
  min-height: 400px;

  @media screen and (min-width: 1200px) {
    min-height: 600px;
  }
}

.hero__wrapper {
  margin: auto;
  text-align: center;
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $sec-text-clr;

  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  min-height: 50px;
  padding: 0px 24px;
  font-weight: 700;
  font-size: $primary-fnt-size;
  line-height: 1.88;
  letter-spacing: 0.06em;

  @media screen and (min-width: 1200px) {
    padding: 0 32px;
  }
}
