<section class="clients">
  <div class="clients__container">
    <h2 class="clients__title">Постійні клієнти</h2>
    <ul class="clients__list">
      <li>
        <a class="clients__link" href="https://www.company.com/">
          <svg class="clients__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-client1"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="clients__link" href="https://www.company.com/">
          <svg class="clients__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-client2"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="clients__link" href="https://www.company.com/">
          <svg class="clients__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-client3"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="clients__link" href="https://www.company.com/">
          <svg class="clients__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-client4"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="clients__link" href="https://www.company.com/">
          <svg class="clients__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-client5"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="clients__link" href="https://www.company.com/">
          <svg class="clients__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-client6"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
