<section class="features">
  <div class="features__container">
    <!-- This h2 will be invisible -->
    <h2 class="features__title">Особливості нашої компанії</h2>
    <ul class="features__list">
      <li class="features__item">
        <div class="features__wrapper">
          <svg class="features__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-antenna"></use>
          </svg>
        </div>
        <h3 class="features__item-title">Увага до деталей</h3>
        <p class="features__item-description">
          Ідейні міркування, і навіть початок повсякденної роботи з формування позиції.
        </p>
      </li>

      <li class="features__item">
        <div class="features__wrapper">
          <svg class="features__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="features__item-title">Пунктуальність</h3>
        <p class="features__item-description">
          Завдання організації, особливо рамки і місце навчання кадрів тягне у себе.
        </p>
      </li>

      <li class="features__item">
        <div class="features__wrapper">
          <svg class="features__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-laptop"></use>
          </svg>
        </div>
        <h3 class="features__item-title">Планування</h3>
        <p class="features__item-description">
          Так само консультація з широким активом значною мірою зумовлює.
        </p>
      </li>

      <li class="features__item">
        <div class="features__wrapper">
          <svg class="features__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-astronaut"></use>
          </svg>
        </div>
        <h3 class="features__item-title">Сучасні технології</h3>
        <p class="features__item-description">
          Значимість цих проблем настільки очевидна, що реалізація планових завдань.
        </p>
      </li>
    </ul>
  </div>
</section>
