<footer class="footer">
  <div class="footer__container">
    <div class="footer__section footer__section--contacts">
      <a class="logo--footer" href="./index.html"><span class="logo__accent">Web</span>Studio </a>
      <address>
        <ul class="contacts">
          <li class="contacts__item">
            <a
              class="contacts__link contacts__link--gmaps"
              href="https://goo.gl/maps/LqEMvfZFrGtLSNi77"
              target="_blank"
              >м. Київ, пр-т Лесі Українки, 26
            </a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:info@devstudio.com">info@devstudio.com</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="tel:+380961111111">+38 096 111 11 11</a>
          </li>
        </ul>
      </address>
    </div>
    <div class="footer__section footer__section--social-nets">
      <h3 class="footer__subscribe-title">Приєднуйтесь</h3>
      <ul class="social-net-list social-net-list--inline footer__social-net-list">
        <li class="item">
          <a
            class="social-net-list__link social-net-list__link--dark"
            href="https://www.instagram.com/"
          >
            <svg class="social-net-list__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="item">
          <a
            class="social-net-list__link social-net-list__link--dark"
            href="https://www.twitter.com/"
          >
            <svg class="social-net-list__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="item">
          <a
            class="social-net-list__link social-net-list__link--dark"
            href="https://www.facebook.com/"
          >
            <svg class="social-net-list__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="item">
          <a
            class="social-net-list__link social-net-list__link--dark"
            href="https://www.linkedin.com/"
          >
            <svg class="social-net-list__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__section footer__section--subscribe-form">
      <form class="subscribe-form">
        <label class="subscribe-form__label">
          <h4 class="subscribe-form__title">Підпишіться на розсилку</h4>
          <div class="subscribe-form__wrapper">
            <input class="subscribe-form__input" type="email" placeholder="E-mail" name="email" />
            <button class="button button--active button--subscribe-form" type="submit">
              Підписатися
              <svg class="button__icon button__icon--end" width="24" height="24">
                <use href="./images/icons.svg#icon-send"></use>
              </svg>
            </button>
          </div>
        </label>
      </form>
    </div>
  </div>
</footer>
