<header class="header">
  <div class="header__container">
    <a class="logo--site-nav" href="./index.html"> <span class="logo__accent">Web</span>Studio </a>

    <div class="header__menu">
      <nav class="header__site-nav">
        <ul class="header__site-nav-list">
          <li class="header__site-nav-item">
            <a class="header__site-nav-link header__site-nav-link--current" href="./index.html"
              >Студія</a
            >
          </li>

          <li class="header__site-nav-item">
            <a class="header__site-nav-link" href="./portfolio.html">Портфоліо</a>
          </li>

          <li class="header__site-nav-item">
            <a class="header__site-nav-link" href="">Контакти</a>
          </li>
        </ul>
      </nav>

      <ul class="header__contact-list">
        <li class="header__contact-list-item">
          <a class="header__contact-list-link" href="mailto:info@devstudio.com">
            <svg class="header__contact-list-icon header__contact-list-icon--envelope">
              <use href="./images/icons.svg#icon-envelope"></use>
            </svg>
            info@devstudio.com
          </a>
        </li>

        <li class="header__contact-list-item">
          <a class="header__contact-list-link" href="tel:+380961111111">
            <svg class="header__contact-list-icon header__contact-list-icon--phone">
              <use href="./images/icons.svg#icon-mobile"></use>
            </svg>
            +38 096 111 11 11</a
          >
        </li>
      </ul>
    </div>

    <button type="button" class="mobile-menu__btn">
      <svg width="40" height="40" aria-label="Кнопка мобільного меню">
        <use class="mobile-menu__icon--open" href="./images/icons.svg#menu-icon-open"></use>
        <use class="mobile-menu__icon--close" href="./images/icons.svg#menu-icon-close"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu">
    <nav class="mobile-menu__site-nav">
      <ul class="mobile-menu__site-nav-list">
        <li class="mobile-menu__site-nav-item">
          <a
            class="mobile-menu__site-nav-link mobile-menu__site-nav-link--current"
            href="./index.html"
            >Студія</a
          >
        </li>

        <li class="mobile-menu__site-nav-item">
          <a class="mobile-menu__site-nav-link" href="./portfolio.html">Портфоліо</a>
        </li>

        <li class="mobile-menu__site-nav-item">
          <a class="mobile-menu__site-nav-link" href="">Контакти</a>
        </li>
      </ul>
    </nav>

    <ul class="mobile-menu__contact-list">
      <li class="mobile-menu__contact-list-item mobile-menu__contact-list-item--phone">
        <a class="mobile-menu__contact-list-link" href="tel:+380961111111"> +38 096 111 11 11</a>
      </li>
      <li class="mobile-menu__contact-list-item mobile-menu__contact-list-item--email">
        <a class="mobile-menu__contact-list-link" href="mailto:info@devstudio.com">
          info@devstudio.com
        </a>
      </li>
    </ul>

    <ul class="mobile-menu__soc-net-list">
      <li class="mobile-menu__soc-net-item">
        <a class="mobile-menu__soc-net-link" target="_blank" href="https://www.instagram.com/"
          >Instagram</a
        >
      </li>
      <li class="mobile-menu__soc-net-item">
        <a class="mobile-menu__soc-net-link" target="_blank" href="https://www.twitter.com/"
          >Twitter</a
        >
      </li>
      <li class="mobile-menu__soc-net-item">
        <a class="mobile-menu__soc-net-link" target="_blank" href="https://www.facebook.com/"
          >Facebook</a
        >
      </li>
      <li class="mobile-menu__soc-net-item">
        <a class="mobile-menu__soc-net-link" target="_blank" href="https://www.linkedin.com/"
          >Linkedin</a
        >
      </li>
    </ul>
  </div>
</header>
