<section class="projects">
  <div class="projects__container">
    <ul class="filter filter--projects">
      <li class="filter__item">
        <button class="filter__button--active" type="button">Усі</button>
      </li>
      <li class="filter__item">
        <button class="filter__button--passive" type="button">Веб-сайти</button>
      </li>
      <li class="filter__item">
        <button class="filter__button--passive" type="button">Додатки</button>
      </li>
      <li class="filter__item">
        <button class="filter__button--passive" type="button">Дизайн</button>
      </li>
      <li class="filter__item">
        <button class="filter__button--passive" type="button">Маркетинг</button>
      </li>
    </ul>
    <!-- This h1 will be invisible -->
    <h1 class="projects__title">Наші роботи</h1>
    <ul class="projects__list">
      <li class="projects__item">
        <a class="card-link" href="">
          <div class="card-link__wrap-overlay">
            <picture>
              <source
                srcset="
                  ./images/projects/pfl1-desk-370.jpg 370w,
                  ./images/projects/pfl1-desk-740.jpg 540w
                "
                media="(min-width: 1200px)"
                sizes="370px"
              />
              <source
                srcset="
                  ./images/projects/pfl1-tab-354.jpg 354w,
                  ./images/projects/pfl1-tab-708.jpg 708w
                "
                media="(min-width: 768px)"
                sizes="354px"
              />
              <source
                srcset="
                  ./images/projects/pfl1-mob-450.jpg 450w,
                  ./images/projects/pfl1-mob-900.jpg 900w
                "
                media="(min-width: 480px)"
                sizes="450px"
              />
              <img
                src="./images/projects/pfl1-mob-900.jpg"
                alt="Приклад роботи студії під назвою Технокряк"
              />
            </picture>
            <p class="card-link__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це
              дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.
            </p>
          </div>
          <div class="card-link__title-box">
            <h3 class="card-link__title">Технокряк</h3>
            <p class="card-link__description">Веб-сайт</p>
          </div>
        </a>
      </li>

      <li class="projects__item">
        <a class="card-link" href="">
          <div class="card-link__wrap-overlay">
            <picture>
              <source
                srcset="
                  ./images/projects/pfl2-desk-370.jpg 370w,
                  ./images/projects/pfl2-desk-740.jpg 540w
                "
                media="(min-width: 1200px)"
                sizes="370px"
              />
              <source
                srcset="
                  ./images/projects/pfl2-tab-354.jpg 354w,
                  ./images/projects/pfl2-tab-708.jpg 708w
                "
                media="(min-width: 768px)"
                sizes="354px"
              />
              <source
                srcset="
                  ./images/projects/pfl2-mob-450.jpg 450w,
                  ./images/projects/pfl2-mob-900.jpg 900w
                "
                media="(min-width: 480px)"
                sizes="450px"
              />
              <img
                src="./images/projects/pfl2-mob-900.jpg"
                alt="Приклад роботи студії під назвою Постер New Orlean vs Golden Star"
              />
            </picture>
            <p class="card-link__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це
              дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.
            </p>
          </div>
          <div class="card-link__title-box">
            <h3 class="card-link__title">Постер New Orlean vs Golden Star</h3>
            <p class="card-link__description">Дизайн</p>
          </div>
        </a>
      </li>

      <li class="projects__item">
        <a class="card-link" href="">
          <div class="card-link__wrap-overlay">
            <picture>
              <source
                srcset="
                  ./images/projects/pfl3-desk-370.jpg 370w,
                  ./images/projects/pfl3-desk-740.jpg 540w
                "
                media="(min-width: 1200px)"
                sizes="370px"
              />
              <source
                srcset="
                  ./images/projects/pfl3-tab-354.jpg 354w,
                  ./images/projects/pfl3-tab-708.jpg 708w
                "
                media="(min-width: 768px)"
                sizes="354px"
              />
              <source
                srcset="
                  ./images/projects/pfl3-mob-450.jpg 450w,
                  ./images/projects/pfl3-mob-900.jpg 900w
                "
                media="(min-width: 480px)"
                sizes="450px"
              />
              <img
                src="./images/projects/pfl3-mob-900.jpg"
                alt="Приклад роботи студії під назвою Ресторан Seafood"
              />
            </picture>
            <p class="card-link__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це
              дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.
            </p>
          </div>
          <div class="card-link__title-box">
            <h3 class="card-link__title">Ресторан Seafood</h3>
            <p class="card-link__description">Додаток</p>
          </div>
        </a>
      </li>

      <li class="projects__item">
        <a class="card-link" href="">
          <div class="card-link__wrap-overlay">
            <picture>
              <source
                srcset="
                  ./images/projects/pfl4-desk-370.jpg 370w,
                  ./images/projects/pfl4-desk-740.jpg 540w
                "
                media="(min-width: 1200px)"
                sizes="370px"
              />
              <source
                srcset="
                  ./images/projects/pfl4-tab-354.jpg 354w,
                  ./images/projects/pfl4-tab-708.jpg 708w
                "
                media="(min-width: 768px)"
                sizes="354px"
              />
              <source
                srcset="
                  ./images/projects/pfl4-mob-450.jpg 450w,
                  ./images/projects/pfl4-mob-900.jpg 900w
                "
                media="(min-width: 480px)"
                sizes="450px"
              />
              <img
                src="./images/projects/pfl4-mob-900.jpg"
                alt="Приклад роботи студії під назвою Проєкт Prime"
              />
            </picture>
            <p class="card-link__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це
              дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.
            </p>
          </div>
          <div class="card-link__title-box">
            <h3 class="card-link__title">Проєкт Prime</h3>
            <p class="card-link__description">Маркетинг</p>
          </div>
        </a>
      </li>

      <li class="projects__item">
        <a class="card-link" href="">
          <div class="card-link__wrap-overlay">
            <picture>
              <source
                srcset="
                  ./images/projects/pfl5-desk-370.jpg 370w,
                  ./images/projects/pfl5-desk-740.jpg 540w
                "
                media="(min-width: 1200px)"
                sizes="370px"
              />
              <source
                srcset="
                  ./images/projects/pfl5-tab-354.jpg 354w,
                  ./images/projects/pfl5-tab-708.jpg 708w
                "
                media="(min-width: 768px)"
                sizes="354px"
              />
              <source
                srcset="
                  ./images/projects/pfl5-mob-450.jpg 450w,
                  ./images/projects/pfl5-mob-900.jpg 900w
                "
                media="(min-width: 480px)"
                sizes="450px"
              />
              <img
                src="./images/projects/pfl5-mob-900.jpg"
                alt="Приклад роботи студії під назвою Проєкт Boxes"
              />
            </picture>
            <p class="card-link__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це
              дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.
            </p>
          </div>
          <div class="card-link__title-box">
            <h3 class="card-link__title">Проєкт Boxes</h3>
            <p class="card-link__description">Додаток</p>
          </div>
        </a>
      </li>

      <li class="projects__item">
        <a class="card-link" href="">
          <div class="card-link__wrap-overlay">
            <picture>
              <source
                srcset="
                  ./images/projects/pfl6-desk-370.jpg 370w,
                  ./images/projects/pfl6-desk-740.jpg 540w
                "
                media="(min-width: 1200px)"
                sizes="370px"
              />
              <source
                srcset="
                  ./images/projects/pfl6-tab-354.jpg 354w,
                  ./images/projects/pfl6-tab-708.jpg 708w
                "
                media="(min-width: 768px)"
                sizes="354px"
              />
              <source
                srcset="
                  ./images/projects/pfl6-mob-450.jpg 450w,
                  ./images/projects/pfl6-mob-900.jpg 900w
                "
                media="(min-width: 480px)"
                sizes="450px"
              />
              <img
                src="./images/projects/pfl6-mob-900.jpg"
                alt="Приклад роботи студії під назвою Inspiration has no Borders"
              />
            </picture>
            <p class="card-link__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це
              дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.
            </p>
          </div>
          <div class="card-link__title-box">
            <h3 class="card-link__title">Inspiration has no Borders</h3>
            <p class="card-link__description">Веб-сайт</p>
          </div>
        </a>
      </li>

      <li class="projects__item">
        <a class="card-link" href="">
          <div class="card-link__wrap-overlay">
            <picture>
              <source
                srcset="
                  ./images/projects/pfl7-desk-370.jpg 370w,
                  ./images/projects/pfl7-desk-740.jpg 540w
                "
                media="(min-width: 1200px)"
                sizes="370px"
              />
              <source
                srcset="
                  ./images/projects/pfl7-tab-354.jpg 354w,
                  ./images/projects/pfl7-tab-708.jpg 708w
                "
                media="(min-width: 768px)"
                sizes="354px"
              />
              <source
                srcset="
                  ./images/projects/pfl7-mob-450.jpg 450w,
                  ./images/projects/pfl7-mob-900.jpg 900w
                "
                media="(min-width: 480px)"
                sizes="450px"
              />
              <img
                src="./images/projects/pfl7-mob-900.jpg"
                alt="Приклад роботи студії під назвою Видання Limited Edition"
              />
            </picture>
            <p class="card-link__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це
              дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.
            </p>
          </div>
          <div class="card-link__title-box">
            <h3 class="card-link__title">Видання Limited Edition</h3>
            <p class="card-link__description">Дизайн</p>
          </div>
        </a>
      </li>

      <li class="projects__item">
        <a class="card-link" href="">
          <div class="card-link__wrap-overlay">
            <picture>
              <source
                srcset="
                  ./images/projects/pfl8-desk-370.jpg 370w,
                  ./images/projects/pfl8-desk-740.jpg 540w
                "
                media="(min-width: 1200px)"
                sizes="370px"
              />
              <source
                srcset="
                  ./images/projects/pfl8-tab-354.jpg 354w,
                  ./images/projects/pfl8-tab-708.jpg 708w
                "
                media="(min-width: 768px)"
                sizes="354px"
              />
              <source
                srcset="
                  ./images/projects/pfl8-mob-450.jpg 450w,
                  ./images/projects/pfl8-mob-900.jpg 900w
                "
                media="(min-width: 480px)"
                sizes="450px"
              />
              <img
                src="./images/projects/pfl8-mob-900.jpg"
                alt="Приклад роботи студії під назвою Проєкт LAB"
              />
            </picture>
            <p class="card-link__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це
              дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.
            </p>
          </div>
          <div class="card-link__title-box">
            <h3 class="card-link__title">Проєкт LAB</h3>
            <p class="card-link__description">Маркетинг</p>
          </div>
        </a>
      </li>

      <li class="projects__item">
        <a class="card-link" href="">
          <div class="card-link__wrap-overlay">
            <picture>
              <source
                srcset="
                  ./images/projects/pfl9-desk-370.jpg 370w,
                  ./images/projects/pfl9-desk-740.jpg 540w
                "
                media="(min-width: 1200px)"
                sizes="370px"
              />
              <source
                srcset="
                  ./images/projects/pfl9-tab-354.jpg 354w,
                  ./images/projects/pfl9-tab-708.jpg 708w
                "
                media="(min-width: 768px)"
                sizes="354px"
              />
              <source
                srcset="
                  ./images/projects/pfl9-mob-450.jpg 450w,
                  ./images/projects/pfl9-mob-900.jpg 900w
                "
                media="(min-width: 480px)"
                sizes="450px"
              />
              <img
                src="./images/projects/pfl9-mob-900.jpg"
                alt="Приклад роботи студії під назвою Growing Business"
              />
            </picture>
            <p class="card-link__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це
              дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.
            </p>
          </div>
          <div class="card-link__title-box">
            <h3 class="card-link__title">Growing Business</h3>
            <p class="card-link__description">Додаток</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
