<section class="team">
  <div class="team__container">
    <h2 class="team__title">Наша команда</h2>

    <ul class="team-list">
      <li class="team-list__card">
        <picture>
          <source
            srcset="./images/team/igor-dsk-270.jpg 270w, ./images/team/igor-dsk-540.jpg 540w"
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="./images/team/igor-tab-354.jpg 354w, ./images/team/igor-tab-708.jpg 708w"
            media="(min-width: 768px)"
            sizes="354px"
          />
          <source
            srcset="./images/team/igor-mob-450.jpg 450w, ./images/team/igor-mob-900.jpg 900w"
            sizes="450px"
          />
          <img src="./images/team/igor-mob-450.jpg" alt="Дизайнер Ігор Дем'яненко" />
        </picture>

        <div class="team-list__title-box">
          <h3 class="team-list__name">Ігор Дем'яненко</h3>
          <p class="team-list__profession" lang="en">Product Designer</p>
          <ul class="social-net-list team-list__social-net-list">
            <li>
              <a class="social-net-list__link" href="https://www.instagram.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-net-list__link" href="https://www.twitter.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-net-list__link" href="https://www.facebook.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-net-list__link" href="https://www.linkedin.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list__card">
        <picture>
          <source
            srcset="./images/team/olga-dsk-270.jpg 270w, ./images/team/olga-dsk-540.jpg 540w"
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="./images/team/olga-tab-354.jpg 354w, ./images/team/olga-tab-708.jpg 708w"
            media="(min-width: 768px)"
            sizes="354px"
          />
          <source
            srcset="./images/team/olga-mob-450.jpg 450w, ./images/team/olga-mob-900.jpg 900w"
            sizes="450px"
          />
          <img src="./images/team/olga-mob-450.jpg" alt="Ольга Рєпіна" />
        </picture>

        <div class="team-list__title-box">
          <h3 class="team-list__name">Ольга Рєпіна</h3>
          <p class="team-list__profession" lang="en">Frontend Developer</p>
          <ul class="social-net-list team-list__social-net-list">
            <li>
              <a class="social-net-list__link" href="https://www.instagram.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-net-list__link" href="https://www.twitter.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-net-list__link" href="https://www.facebook.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-net-list__link" href="https://www.linkedin.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list__card">
        <picture>
          <source
            srcset="./images/team/mykola-dsk-270.jpg 270w, ./images/team/mykola-dsk-540.jpg 540w"
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="./images/team/mykola-tab-354.jpg 354w, ./images/team/mykola-tab-708.jpg 708w"
            media="(min-width: 768px)"
            sizes="354px"
          />
          <source
            srcset="./images/team/mykola-mob-450.jpg 450w, ./images/team/mykola-mob-900.jpg 900w"
            sizes="450px"
          />
          <img src="./images/team/mykola-mob-450.jpg" alt="Микола Тарасов" />
        </picture>

        <div class="team-list__title-box">
          <h3 class="team-list__name">Микола Тарасов</h3>
          <p class="team-list__profession" lang="en">Marketing</p>
          <ul class="social-net-list team-list__social-net-list">
            <li>
              <a class="social-net-list__link" href="https://www.instagram.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-net-list__link" href="https://www.twitter.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-net-list__link" href="https://www.facebook.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-net-list__link" href="https://www.linkedin.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list__card">
        <picture>
          <source
            srcset="./images/team/myhajlo-dsk-270.jpg 270w, ./images/team/myhajlo-dsk-540.jpg 540w"
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="./images/team/myhajlo-tab-354.jpg 354w, ./images/team/myhajlo-tab-708.jpg 708w"
            media="(min-width: 768px)"
            sizes="354px"
          />
          <source
            srcset="./images/team/myhajlo-mob-450.jpg 450w, ./images/team/myhajlo-mob-900.jpg 900w"
            sizes="450px"
          />

          <img src="./images/team/myhajlo-mob-450.jpg" alt="Михайло Єрмаков" />
        </picture>

        <div class="team-list__title-box">
          <h3 class="team-list__name">Михайло Єрмаков</h3>
          <p class="team-list__profession" lang="en">UI Designer</p>
          <ul class="social-net-list team-list__social-net-list">
            <li>
              <a class="social-net-list__link" href="https://www.instagram.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-net-list__link" href="https://www.twitter.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-net-list__link" href="https://www.facebook.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-net-list__link" href="https://www.linkedin.com/">
                <svg class="social-net-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
