<section class="work-examples">
  <div class="work-examples__container">
    <h2 class="work-examples__title">Чим ми займаємося</h2>
    <ul class="work-examples__work-list">
      <li class="work-examples__item">
        <picture>
          <source
            srcset="./images/work/work1-dsk-370.jpg 370w, ./images/work/work1-dsk-740.jpg 740w"
            media="(min-width: 1200px)"
            sizes="370px"
          />
          <img
            class="work-examples__img"
            src="./images/work/work1-dsk-370.jpg"
            alt="Людина працює за комп'ютером"
            width="370"
          />
        </picture>

        <p class="work-examples__description">Десктопні додатки</p>
      </li>
      <li class="work-examples__item">
        <picture>
          <source
            srcset="./images/work/work2-dsk-370.jpg 370w, ./images/work/work2-dsk-740.jpg 740w"
            media="(min-width: 1200px)"
            sizes="370px"
          />
          <img
            class="work-examples__img"
            src="./images/work/work2-dsk-370.jpg"
            alt="Людина працює за комп'ютером"
            width="370"
          />
        </picture>
        <p class="work-examples__description">Мобільні додатки</p>
      </li>
      <li class="work-examples__item">
        <picture>
          <source
            srcset="./images/work/work3-dsk-370.jpg 370w, ./images/work/work3-dsk-740.jpg 740w"
            media="(min-width: 1200px)"
            sizes="370px"
          />
          <img
            class="work-examples__img"
            src="./images/work/work3-dsk-370.jpg"
            alt="Людина працює за комп'ютером"
            width="370"
          />
        </picture>
        <p class="work-examples__description">Дизайнерські рішення</p>
      </li>
    </ul>
  </div>
</section>
