.contacts {
  @extend .list;
}

.contacts__item {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__link {
  @extend .link;

  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  @include hov-foc-effect-color;
}

.contacts__link--gmaps {
  color: $sec-text-clr;
}
