@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../base/container' as *;
@use '../base/base' as *;
@use '../utils/invisible' as *;
.social-net-list {
  @extend .list;

  display: flex;
  width: 206px;
  justify-content: space-between;
}

.social-net-list__link {
  @extend .link;

  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  color: $icon-main-clr;
  border-radius: 50%;

  @include hov-foc-effect-txt-bg($sec-text-clr, $primary-accent-clr);
}

.social-net-list__icon {
  fill: currentColor;
}

.social-net-list__link--dark {
  color: $sec-text-clr;
  background-color: rgba(255, 255, 255, 0.1);
}
