@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../base/container' as *;
@use '../base/base' as *;
.clients {
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.clients__container {
  @extend .container;
}

.clients__title {
  font-weight: 700;
  text-align: center;
  color: $title-text-clr;
  margin-top: 0;
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients__list {
  @extend .list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -15px;
}

.clients__link {
  @extend .link;
  @include hov-foc-effect-border;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  margin: 15px;
  color: $icon-main-clr;
  border: 1px solid $icon-main-clr;
  border-radius: 4px;
  @media screen and (max-width: 479px) {
    width: calc((100vw / 2) - 30px);
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 210px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
}
