$primary-text-clr: #757575;
$sec-text-clr: #ffffff;
$title-text-clr: #212121;
$primary-accent-clr: #2196f3;
$sec-accent-clr: #f5f4fa;
$primary-bkg-clr: #ffffff;
$sec-bkg-clr: #2f303a;
$icon-main-clr: #afb1b8;
$primary-fnt-size: 16px;
$sec-fnt-size: 14px;
$prime-letr-space: 0.03em;
$prime-fnt-weight: 500;
$transform-funct: cubic-bezier(0.4, 0, 0.2, 1);
